/*Popup box (div) styling*/
.popup {
	position: fixed;
    top: 30%;
    left: 50%;
    min-width: 50%;
    transform: translate(-50%, -50%);
	background-color: #333;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	color: white;
}
/*Styling of buttons inside Popup*/
.popupButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popupButton:hover {
    background-color: #0056b3;
}



#promptClose {
    background-color: crimson;
    float: left;
}
/*Change of color and float for Prompt close button*/
#promptClose:hover {
    background-color: brown;
}
/*Change of float for Prompt send button*/
#promptSend {
    float: right;
}
/*Prompt's input styling*/
#resetUsername {
    display: flex;
    padding: 8px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
