/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #ffcab0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #c24d2c;
    color: #d9dad7;
    padding: 15px;
    text-align: center;
    height: 25px;
}

.logo {
    margin-bottom: 12px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#signout {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

#signout:hover {
    background-color: #c0392b;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Game content styles */
main div {
    /* Add styles for the game content */
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.loading {
    display: block;
    animation: spin 2s linear infinite;
}

.stopLoading {
    animation: none;
    display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive styles */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}


