.absent {
    display: none;
}

/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #ffcab0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #c24d2c;
    color: #d9dad7;
    padding: 15px;
    text-align: center;
    height: 25px;
}

#homeNav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#notSigned, #signedIn, div {
    margin-bottom: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Global Leaderboard styles */
#globalLeaderboard {
    /* Add styles for the global leaderboard */
}

/* Responsive styles */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}