<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="src/game.js" defer></script>
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="home.html" class="logo">Air Dominance</a></h1>
            <button id="restartGame">Restart the Game</button>
        </nav>
    </header>
    <main>
        <section id="game">
            <div id="loader"></div>
            <div id="closestAirports">
            </div>
            <article id="currentStatus">
                <p id="money"></p>
                <p id="totalDstnc"></p>
                <p id="airportCount"></p>
                <p id="monayChange"></p>
                <div>
                    <p id="airportName"></p>
                    <p id="ICAO"></p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <address>
            Contact Us info (our LinkedIns and GitHub profiles, for example)
        </address>
    </footer>
</body>
</html>
