<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="src/home.js" defer></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="home.html">Air Dominance</a></h1>
        </nav>
    </header>

    <main>
        <section id="notSigned">
            <article>
                <p>About the game, encouragement to login/sign up</p>
                <a href="login.html">Sign in</a>
            </article>
        </section>

        <section id="signedIn">
            <article>
                <p id="gameState">Start the game</p>
                <button id="gameStateButton">Start</button>
            </article>
        </section>

        <section id="gameRules">
            <article>
                <p>Game rules</p>
            </article>
        </section>

        <section id="leaderboard">
            <h2>Global Leaderboard</h2>
            <article id="globalLeaderboard"></article>
        </section>
    </main>

    <footer>
        <address>
            Contact Us info (our LinkedIns and GitHub profiles, for example)
        </address>
    </footer>
</body>
</html>
