<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="src/home.js" defer></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <nav id="homeNav">
            <a href="home.html">Air Dominance</a>
        </nav>
    </header>
    <main>
         <div id="notSigned">
            <p>About the game, encouragament to login/sign up</p>
             <a href="login.html">Sign in</a>
        </div>
        <div id="signedIn">
            <a>Start the game</a>
            <button id="gameStart">Start</button>
        </div>
        <div>
            <p>Game rules</p>
        </div>
        <h2>Global Leaderboard</h2>
        <div id="globalLeaderboard">
        </div>
    </main>
    <footer>
        Contact Us info (our linkedins and github profile for example)
    </footer>
</body>
</html>