<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Rubik:wght@400;500;600;700&family=Sono:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="css/customPopups.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script type="module" src="src/login.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1><a href="home.html">Air<i id="title">Dominance</i></a></h1>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <form id="loginForm">
                    <label for="username">Username</label>
                    <input id="username" type="text" placeholder="Enter your username">

                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Enter your password">

                    <input type="submit" value="Log In">
                </form>

                <div class="rightCredentials" id="resetPassword">
                    <p >Username or password is entered incorrectly, please try again!</p>
                    <button id="resetButton">Reset Password</button>
                </div>
            </article>
            <article>
                <p>New user? &nbsp;<a href="signup.html">Sign up</a></p>
            </article>
        </section>
    </main>
    <footer>
        <address>
            <h4>Group 9</h4>

            <p>Max Kiannu <a href="https://github.com/kiannumax" target="_blank">GitHub</a> <a href="https://www.linkedin.com/in/kiannumax/" target="_blank">LinkedIn</a></p>
            <p>Chris Otewa <a href="https://github.com/ChrisOtewa" target="_blank">GitHub</a> <a href="https://www.linkedin.com/in/chrisotewa/" target="_blank">LinkedIn</a></p>
            <p>Sachin Bhandari <a href="https://github.com/5achinBhandari" target="_blank">GitHub</a> <a href="https://www.linkedin.com/in/54ch1nb/" target="_blank">LinkedIn</a></p>
            <p>Mahinur Rahman <a href="https://github.com/Mahinur-Rahman" target="_blank">GitHub</a> <a href="https://www.linkedin.com/in/mahinur-rahman-313337198/" target="_blank">LinkedIn</a></p>
        </address>
    </footer>
</body>
</html>
