<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <script src="src/login.js" defer></script>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>
        <nav>
            <a href="home.html">Air Dominance</a>
        </nav>
    </header>
    <main>
        <div>
            <form id="login">
              <input id="username" type="text" placeholder="Username">
              <input id="password" type="password" placeholder="Password">
              <input type="submit">
            </form>
            <p id="resetPassword" class="rightCredentials">Username or password is entered incorrectly, please try again!</p>
            <button id="resetButton" class="rightCredentials">Reset Password</button>
        </div>
        <p>New user? <a href="signup.html">Sign up</a></p>
    </main>
    <footer>
        Contact Us info (our linkedins and github profiles for example)
    </footer>
</body>
</html>