<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="src/profile.js" defer></script>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="home.html" class="logo">Air Dominance</a></h1>
            <button id="signout">Sign out</button>
        </nav>
    </header>
    <main>
        <section id="userOptions">
            <button id="changeUsername">Change username</button>
            <button id="changePassword">Change password</button>
        </section>
        <section id="playerInfo">
            <p id="playerData"></p>
            <h4>All of your past games:</h4>
        </section>
    </main>
    <footer>
        <address>
            Group 9
            Max Kiannu <a href="https://github.com/kiannumax">Github</a> <a href="https://www.linkedin.com/in/kiannumax/">LinkedIn</a>
            Chris Otewa <a href="https://github.com/ChrisOtewa">Github</a> <a href="https://www.linkedin.com/in/chrisotewa/">LinkedIn</a>
            Sachin Bhandari <a href="https://github.com/5achinBhandari">Github</a> <a href="https://www.linkedin.com/in/54ch1nb/">LinkedIn</a>
            Mahinur Rahman <a href="https://github.com/Mahinur-Rahman">Github</a> <a href="https://www.linkedin.com/in/mahinur-rahman-313337198/">LinkedIn</a>
        </address>
    </footer>
</body>
</html>
