<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="src/profile.js" defer></script>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <header>
        <nav>
            <a href="home.html" class="logo">Air Dominance</a>
            <button id="signout">Sign out</button>
        </nav>
    </header>
    <main>
        <button id="changeUsername">Change username</button>
        <button id="changePassword">Change password</button>
        <div id="playerInfo">
            <p id="playerData"></p>
            <h4>ALl of your past games:</h4>
        </div>
    </main>
    <footer>
        Contact Us info (our linkedins and github profile for example)
    </footer>
</body>
</html>