<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script src="src/signup.js" defer></script>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="home.html">Air Dominance</a></h1>
        </nav>
    </header>
    <main>
        <section id="signupSection">
            <article>
                <form id="signupForm">
                    <label for="username">Create a Username (max 15 characters)</label>
                    <input id="username" type="text" placeholder="Enter your username" required>

                    <label for="password">Create a password</label>
                    <input id="password" type="password" placeholder="Enter your password" required>

                    <label for="password2">Type the password again</label>
                    <input id="password2" type="password" placeholder="Re-enter your password" required>

                    <input type="submit" value="Sign Up">
                </form>
                <p id="warning" class="hide">Username or password is entered incorrectly, please try again!</p>
            </article>
        </section>
    </main>
    <footer>
        <address>
            Contact Us info (our LinkedIns and GitHub profiles, for example)
        </address>
    </footer>
</body>
</html>
