<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script src="src/signup.js" defer></script>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <header>
        <nav>
            <a href="home.html">Air Dominance</a>
        </nav>
    </header>
    <main>
        <div>
            <form id="signup">
              <input id="username" type="text" placeholder="Create a Username (max 15 characters)">
              <input id="password" type="password" placeholder="Create a password">
              <input id="password2" type="password" placeholder="Type the password again">
              <input type="submit">
            </form>
            <p id="warning" class="hide">Username or password is entered incorrectly, please try again!</p>

        </div>
    </main>
    <footer>
        Contact Us info (our linkedins and github profiles for example)
    </footer>
</body>
</html>